# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Storybook
storybook-static

# dependencies
node_modules

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*
!.env.example

# coverage
coverage

# macOS
.DS_Store

# editors
.idea
.fleet
